<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Grid Layout
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/style.css")
	body
		header.header.item
			h1
				a(href="#")
					img.logo(src="images/logo.png", alt="LOGO")
			nav.nav
				ul
					li.nav-item
						a(href="#") HOME
					li.nav-item
						a(href="#") ABOUT
					li.nav-item
						a(href="#") MAIN DISH
					li.nav-item
						a(href="#") APPETIZER
					li.nav-item
						a(href="#") BREAK TIME
					li.nav-item
						a(href="#") COLUMN
					li.nav-item
						a(href="#") OTHER
		section.item.item-l.item-maindish
			a(href="#")
				div.image
					img(src="images/image_L_1.jpg", alt="MAIN DISH")
				div.category MAIN DISH
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eum ipsum eveniet vel quae expedita suscipit magni quibusdam doloremque magnam. 
		section.item.item-m.item-appetizer
			a(href="#")
				div.image
					img(src="images/image_M_1.jpg", alt="APPETIZER")
				div.category APPETIZER
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eum ipsum eveniet vel quae expedita suscipit magni quibusdam doloremque magnam. 
		section.item.item-m.item-maindish
			a(href="#")
				div.image
					img(src="images/image_M_2.jpg", alt="MAIN DISH")
				div.category MAIN DISH
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eum ipsum eveniet vel quae expedita suscipit magni quibusdam doloremque magnam. 
		section.item.item-maindish
			a(href="#")
				div.image
					img(src="images/image_S_1.jpg", alt="MAIN DISH")
				div.category MAIN DISH
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eum ipsum eveniet vel quae expedita suscipit magni quibusdam doloremque magnam. 
		section.item.item-appetizer
			a(href="#")
				div.image
					img(src="images/image_S_2.jpg", alt="APPETIZER")
				div.category APPETIZER
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		section.item.item-m.item-breaktime
			a(href="#")
				div.image
					img(src="images/image_M_3.jpg", alt="BREAK TIME")
				div.category BREAK TIME
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		section.item.item-column
			a(href="#")
				div.image
					img(src="images/image_S_3.jpg", alt="COLUMN")
				div.category COLUMN
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eum ipsum eveniet vel quae expedita suscipit magni quibusdam doloremque magnam. 
		section.item.item-breaktime
			a(href="#")
				div.image
					img(src="images/image_S_4.jpg", alt="BREAK TIME")
				div.category BREAK TIME
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		section.item.item-maindish
			a(href="#")
				div.image
					img(src="images/image_S_5.jpg", alt="MAIN DISH")
				div.category MAIN DISH
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eum ipsum eveniet vel quae expedita suscipit magni quibusdam doloremque magnam.
		section.item.item-breaktime
			a(href="#")
				div.image
					img(src="images/image_S_6.jpg", alt="BREAK TIME")
				div.category BREAK TIME
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		section.item.item-maindish
			a(href="#")
				div.image
					img(src="images/image_S_7.jpg", alt="MAIN DISH")
				div.category MAIN DISH
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eum ipsum eveniet vel quae expedita suscipit magni quibusdam doloremque magnam.
		section.item.item-breaktime
			a(href="#")
				div.image
					img(src="images/image_S_8.jpg", alt="BREAK TIME")
				div.category BREAK TIME
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		section.item.item-m.item-appetizer
			a(href="#")
				div.image
					img(src="images/image_M_4.jpg", alt="APPETIZER")
				div.category APPETIZER
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eum ipsum eveniet vel quae expedita suscipit magni quibusdam doloremque magnam.
		section.item.item-column
			a(href="#")
				div.image
					img(src="images/image_S_9.jpg", alt="COLUMN")
				div.category COLUMN
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		section.item.item-maindish
			a(href="#")
				div.image
					img(src="images/image_S_10.jpg", alt="MAIN DISH")
				div.category MAIN DISH
				p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eum ipsum eveniet vel quae expedita suscipit magni quibusdam doloremque magnam.
		script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js")
		script.
			window.onload = function{
				new Masonry('body',{
					itemSelector: '.item',
					columnWidth: 180,
					gutter: 4
				});
			}